# Virtual environment
venv/
env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
instance/
media/

# Ignore database settings and migrations
migrations/
*.sqlite3
*.db

# Ignore environment variable files
.env

# macOS specific
.DS_Store

# PyCharm specific
.idea/

# VSCode specific
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Logs and database files
*.log
*.pot
local_settings.py
db.sqlite3

# Static files
staticfiles/
